* {
  // outline: red solid 1px;
}
$blue: rgb(64, 123, 254);

body {
  margin: 0;
  padding: 0;
  // background: #efefef;
  font-family: "Gill Sans", sans-serif;
}
#container {
  width: 80vw;
  margin: 0 auto;
}
.menu {
  font-weight: 600;
  background: #fff;
  opacity: 0.7;
  &__parent {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    &__link {
      text-decoration: none;
      color: #000;
    }
    &__item {
      line-height: 40px;
      text-align: center;
      width: 160px;
      padding: 8px 0;
      transition: 0.3s;
      border-radius: 36px;
      &:hover {
        transform: scale(0.85);
        background: #efefef;
      }
      &--title {
        font-size: 1.5em;
        margin-right: auto;
        &:hover {
          transform: none;
          background: #fff;
        }
      }
    }
  }
}

.work {
  text-align: center;
  padding: 40px 0;
  &__svg {
    width: 400px;
  }
  &__text {
    width: 500px;
    margin: 0 auto;
    &--large {
      font-size: 2em;
    }
  }
}

.content {
  &__svg {
    vertical-align: bottom;
  }
  &__middle {
    height: 400px;
    background: $blue;
  }
  &__list {
    position: absolute;
    top: 132vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    text-align: center;
    list-style: none;
    padding: 0;
    &__item {
      width: 250px;
      background: #fff;
      padding: 24px 36px;
      margin: 0 24px;
      border-radius: 8px;
    }
  }
}
.user-title {
  font-size: 2.5em;
  text-align: center;
}
.user-comment {
  display: flex;
  justify-content: center;
  margin: 0 0 80px 0;
  list-style: none;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 16px 36px;
    margin: 0 36px;
    text-align: center;
    border-radius: 8px;
    background: #efefef;
    &__avatar {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin: 0 24px 0 0;
    }
    &__text {
      display: block;
    }
  }
}

.footer {
  &__svg {
    vertical-align: bottom;
    &__bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #efefef;
      height: 100px;
      font-size: 1.5em;
      font-weight: 200;
      background: #273036;
      text-align: center;
    }
  }
}
