body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.swiper-slide {
  width: 400px;
}

.card {
  height: 500px;
  background: #fff;
  border: solid 1px #000;
  &__text {
    width: 100%;
    height: 200px;
    margin: 0;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    padding: 30px;
    box-sizing: border-box;
    &--link {
      padding: 10px 20px;
      color: #262626;
      font-weight: 600;
      text-decoration: none;
      border: 2px #262626 solid;
    }
  }
}
